nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
 
  background-color: #333;
  color: #fff;
  position: relative;
}

.logo {
  font-size: 30px;
  margin-left: 40px;
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.nav-links.show {
  height: 200px;
  flex-flow: column;

}

.nav-links a {
  padding: 15px;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
}

.hamburger {
  cursor: pointer;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-container input {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;

  box-sizing: border-box;
  margin-right: 10px;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 2px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-text {
  padding: 20px;
}


@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 200px) {
  .card-text {
    max-height: 100px;
    overflow: hidden;
  }


}