.containers {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 254, 249);
}

.text-section {
    flex: 1; 
    padding: 20px;
}

.image-section {
    flex: 1;
    padding: 20px;
}

.image-section img {
    margin-top: 10%;
    width: 100%;
    height: auto;
  
}


@media (max-width: 768px) {
    .containers {    
        flex-direction: column;
    }
}


.words {
    padding: 5px;
    font-size: 25px;
    word-spacing: 5px;
    text-size-adjust: 10px;
    text-decoration: dotted;
}