.carousel-container .carousel .slide {
    position: relative;
}

.carousel-container .carousel .slide img {
    width: 100%;
    height: auto;
}

.carousel-container .carousel .slide .slide-text {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    border-radius: 30px;
    border: 0px solid rgb(9, 214, 9);
    width: 150px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(5, 182, 5);
    color: white;
}

.responsive {
    width: 100;
    height: auto;
}

img {
    width: 600;
    height: 400;
}

.carousel-container .carousel .slide img {
    width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .carousel-container .carousel .slide img {
        max-height: 400px;
    }
}